#mainImg{
   height: 350px; width: 500px;
}
#cont{
   margin: 2% 4% auto 4%;
   padding-bottom: 5%;
  
 
 
}
#covering{
   display: grid;
   grid-template-columns: 3fr 1fr;
   border: 1px solid black;
   height: 370px;
  
   
}
#covering div{
   display: flex;
   justify-content: center;
  
   padding: 0.5rem ;
}
#form div{
   display: flex;
   margin-top: 3%;
  justify-content: space-around;
  margin-left: 3%;
   
   
}
#form{
   width: 25vw;
   height: 370px;
   position: relative;
  
   top: -2%;
   border-left: 1px solid black;
  



 
}
#FromDate,
#ToDate{
  width: 55vw;
}
#form div label{

   width: 27vw;
 
}
#bookNow{
   display: flex;
   justify-content: center;
   margin-top: 5%;
   height: 30px;
   margin-left: 12%;
  
}
h5, h2 {
   font-family: cursive;
 
}

.success {
   border-color: #04AA6D;
   color: green;
 }
 
 .success:hover {
   background-color: #04AA6D;
   color: white;
 }

