
#searchBar{
    
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 380px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#searchBar input{
    
    height: 2.6rem;
    width: 35%;
    padding: 10px;
    outline: none;
    border: 1px solid transparent;
    background-color: #f1f1f1;
    font-size: 1rem;
    border-radius: 12px;
}


#cityImg{
   

    padding: 4%;
   }



   #cityImg img{
   
    height: 150px;
    width: 150px;
    border-radius: 25%;
    box-shadow: 10px 10px 10px gray;
  
}

#viewMore{
    text-align: center;
    padding-bottom: 5%;
   
}
#viewMore a{
    text-decoration: none;
    color: black;
}
/* hover property */
#cityImg img:hover{
    
    opacity: 0.8;
}
#cityImg img:hover + p{
opacity: 1;


}

#cityImg img~p{
    position: absolute;
    top: 67%;
    transform: translateX(7vh);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
   
   transition: all 0.1s linear;
   text-decoration: none;
   color: white;
  }



  
  
  @media only screen and (max-width: 576px) {
    
#searchBar{
    
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#searchBar input{
    
    height: 2rem;
    width: 50%;
    padding: 5px;
    outline: none;
    border: 1px solid transparent;
    background-color: #f1f1f1;
   
    border-radius: 12px;
}


#cityImg div, #cityImg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 4%;
   }

   #cityImg img~p{
       display: none;
   }

   #cityImg div img, #cityImg div a img{
    display: flex;
    
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    border-radius: 25%;
    box-shadow: 10px 10px 10px gray;
  
}

#viewMore{
    text-align: center;
    padding-bottom: 15%;
   
}
#viewMore a{
    text-decoration: none;
    color: black;
}



  }

