.Imgs{
width: 40vw;
height: 200px;
background-color:  rgba(132, 136, 139, 0.2);
margin: 2%;

}
.Imgs:hover{
    background-color: rosybrown;
}
tab{
    display: flex;
    justify-content: center;
    
}
tab a{
    text-decoration: none;
    color: black;
    margin: 2%;

    
}
#main img{
  
    width: 250px;
    height: 200px;
   
}

#main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    grid-row-gap: 1rem;
    padding-bottom: 5%;
  
    
}
#mapView img{
   
    position: absolute;
    top: 10%;
}
.Imgs a{
    text-decoration: none;
    color: black;
}
.textRight{
   
    display: flex;
   
   
}
.textRight div{
    margin-right: 5%;
}

