#main{
    height: 270px; width: 300px;
  
}

#content{
    height: 20%;
    width: 50%;
    background-color:rgb(132,136,139);
    margin: 2% auto 2% auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
 
   align-items: center;
  
   
    
}
#bodyArea{
    padding-top: 5%;
    padding-bottom: 2%;
  
}

#tariff{
    margin: 2%;
   padding: 1% 2%;
   
}
#pay a{
    text-decoration: none;
    color: black;
   
    
}
#fullDetail{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rosybrown;
   margin: 2%;
   border-radius: 5px;
   border: 1px solid black;


}b{
    font-family: cursive;
}